[submodule "third_party/gn"]
        path = third_party/gn
        url = https://gn.googlesource.com/gn
[submodule "third_party/pybind"]
	path = third_party/pybind
	url = https://github.com/pybind/pybind11.git
[submodule "language/bert/DeepLearningExamples"]
	path = language/bert/DeepLearningExamples
	url = https://github.com/NVIDIA/DeepLearningExamples.git
[submodule "vision/medical_imaging/3d-unet-brats19/nnUnet"]
	path = vision/medical_imaging/3d-unet-brats19/nnUnet
	url = https://github.com/MIC-DKFZ/nnUNet.git
