torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1

diffusers==0.35.2
transformers==4.51.3
tokenizers==0.21.4
accelerate==1.11.0
flash-attn==2.8.3

opencv-python==4.11.0.86
imageio==2.37.0
imageio-ffmpeg==0.6.0
decord==0.6.0
Pillow==10.2.0

timm==1.0.12
pyiqa==0.1.10
scikit-image==0.25.2
scikit-learn==1.7.2
matplotlib==3.10.7
pycocoevalcap==1.2

numpy==1.26.4
scipy==1.16.3
easydict==1.13
tqdm==4.66.5
pyyaml==6.0.2
omegaconf==2.3.0

openai-clip==1.0.1
lvis==0.5.3
fairscale==0.4.13
fvcore==0.1.5.post20221221

librosa==0.10.2.post1
peft==0.17.0
sentencepiece==0.2.0

boto3==1.35.95
requests==2.32.3
tensorboard==2.20.0
urllib3==2.2.3
wheel==0.46.0
Cython==3.1.6

git+https://github.com/facebookresearch/detectron2.git@a9c0821a12ad353fb2a96f019515990d5460c5ac
