# The format of this config file is 'key = value'.
# The key has the format 'model.scenario.key'. Value is mostly int64_t.
# Model maybe '*' as wildcard. In that case the value applies to all models.
# All times are in milli seconds

# mode dictionary (0 = submission, 1 = accuracy, 2 = performance, 3 = find peak perf)
*.MultiStream.mode = 2
*.MultiStream.accuracy_log_rng_seed = 123
*.MultiStream.accuracy_log_probability = 10
*.Offline.mode = 2
*.Offline.accuracy_log_rng_seed = 456
*.Offline.accuracy_log_probability = 10
*.SingleStream.mode = 2
*.SingleStream.accuracy_log_rng_seed = 789
*.SingleStream.accuracy_log_probability = 10
*.Server.mode = 2
*.Server.accuracy_log_rng_seed = 147
*.Server.accuracy_log_probability = 10
