/config.json
/generation_config.json
/LICENSE.txt
/model-00001-of-00015.safetensors
/model-00002-of-00015.safetensors
/model-00003-of-00015.safetensors
/model-00004-of-00015.safetensors
/model-00005-of-00015.safetensors
/model-00006-of-00015.safetensors
/model-00007-of-00015.safetensors
/model-00008-of-00015.safetensors
/model-00009-of-00015.safetensors
/model-00010-of-00015.safetensors
/model-00011-of-00015.safetensors
/model-00012-of-00015.safetensors
/model-00013-of-00015.safetensors
/model-00014-of-00015.safetensors
/model-00015-of-00015.safetensors
/MODEL_CARD.md
/model.safetensors.index.json
/pytorch_model-00001-of-00015.bin
/pytorch_model-00002-of-00015.bin
/pytorch_model-00003-of-00015.bin
/pytorch_model-00004-of-00015.bin
/pytorch_model-00005-of-00015.bin
/pytorch_model-00006-of-00015.bin
/pytorch_model-00007-of-00015.bin
/pytorch_model-00008-of-00015.bin
/pytorch_model-00009-of-00015.bin
/pytorch_model-00010-of-00015.bin
/pytorch_model-00011-of-00015.bin
/pytorch_model-00012-of-00015.bin
/pytorch_model-00013-of-00015.bin
/pytorch_model-00014-of-00015.bin
/pytorch_model-00015-of-00015.bin
/pytorch_model.bin.index.json
/README.md
/Responsible-Use-Guide.pdf
/special_tokens_map.json
/tokenizer_config.json
/tokenizer.json
/tokenizer.model
/USE_POLICY.md
