# The format of this config file is 'key = value'.
# The key has the format 'model.scenario.key'. Value is mostly int64_t.
# Model maybe '*' as wildcard. In that case the value applies to all models.
# All times are in milli seconds
*.MultiStream.mode = 2
*.MultiStream.performance_issue_unique = 1
*.MultiStream.performance_issue_same = 0
*.Offline.mode = 2
*.Offline.performance_issue_unique = 1
*.Offline.performance_issue_same = 0
*.SingleStream.mode = 2
*.SingleStream.performance_issue_unique = 1
*.SingleStream.performance_issue_same = 0
*.Server.mode = 2
*.Server.performance_issue_unique = 1
*.Server.performance_issue_same = 0
