# The format of this config file is 'key = value'.
# The key has the format 'model.scenario.key'. Value is mostly int64_t.
# Model maybe '*' as wildcard. In that case the value applies to all models.
# All times are in milli seconds

# mode dictionary (0 = submission, 1 = accuracy, 2 = performance, 3 = find peak perf)
*.MultiStream.mode = 2
*.MultiStream.qsl_rng_seed = 195
*.MultiStream.sample_index_rng_seed = 235
*.MultiStream.schedule_rng_seed = 634
*.Offline.mode = 2
*.Offline.qsl_rng_seed = 195
*.Offline.sample_index_rng_seed = 235
*.Offline.schedule_rng_seed = 634
*.SingleStream.mode = 2
*.SingleStream.qsl_rng_seed = 195
*.SingleStream.sample_index_rng_seed = 235
*.SingleStream.schedule_rng_seed = 634
*.Server.mode = 2
*.Server.qsl_rng_seed = 195
*.Server.sample_index_rng_seed = 235
*.Server.schedule_rng_seed = 634
