# The format of this config file is 'key = value'.
# The key has the format 'model.scenario.key'. Value is mostly int64_t.
# Model maybe '*' as wildcard. In that case the value applies to all models.
# All times are in milli seconds

# mode dictionary (0 = submission, 1 = accuracy, 2 = performance, 3 = find peak perf)
*.*.mode = 2
*.*.qsl_rng_seed = 313588358309856706
*.*.sample_index_rng_seed = 471397156132239067
*.*.schedule_rng_seed = 413914573387865862
