# Automatic code formatting
name: "format"
on:
  pull_request:
    branches: [ master ]
    types: [opened, closed, synchronize]


env:
  python_version: "3.9"

jobs:
  format-code:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.ref }}
      - name: Set up Python ${{ env.python_version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ env.python_version }}

      - name: Install dependencies
        run: |
          python3 -m pip install autopep8

      - name: Grant permissions
        run: |
          chmod +x "${GITHUB_WORKSPACE}/.github/scripts/format-cpp.sh"
          chmod +x "${GITHUB_WORKSPACE}/.github/scripts/format-py.sh"
      
      - name: Format Codebase
        run: |
          git remote add upstream ${{ github.event.pull_request.base.repo.clone_url }}
          git fetch upstream
          ".github/scripts/format-cpp.sh" "upstream" "${{ github.event.pull_request.base.ref }}"
          ".github/scripts/format-py.sh" "upstream" "${{ github.event.pull_request.base.ref }}"

      - name: Commit
        run: |
          cd ${GITHUB_WORKSPACE}
          HAS_CHANGES=$(git diff --staged --name-only)
          if [ ${#HAS_CHANGES} -gt 0 ]; then
            git log
            git config --global user.email "${{ github.actor }}@users.noreply.github.com"
            git config --global user.name "${{ github.actor }}"
            git commit -m '[Automated Commit] Format Codebase'
            git push 
          fi

      
