# This workflow will test the submission generation using MLPerf Automation.
# This test calls the test-mlperf-inference-submission-generation.yml file from automation repo

name: MLC based Submission Generation

on:
  pull_request:
    branches: [ "master", "dev" ]
    paths:
      - '.github/workflows/test-submission-generation.yml'
      - '**'  
      - '!**.md'
      
jobs:
  run-tests:
    uses: mlcommons/mlperf-automations/.github/workflows/test-mlperf-inference-submission-generation.yml@dev
    with:
      inf-branch: ${{ github.event.pull_request.head.ref }}
      inf-repo-url: ${{ github.event.pull_request.head.repo.html_url }}
      automation-repo: mlcommons@mlperf-automations
      automation-repo-branch: dev
