# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: CM script automation test for MLPerf inference loadgen

on:
  pull_request:
    branches: [ "master", "dev" ]
    paths:
      - loadgen/**
      - .github/workflows/test-loadgen.yml
      - '!**.md'

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10"]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python3 -m pip install cmind
        cm pull repo mlcommons@ck
    - name: Test Loadgen
      run: |
        cm run script --tags=get,mlperf,inference,loadgen --quiet
